<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="Console"
                name="console"
                layout="${level:uppercase=true}|${logger}| ${message}" />
        <target name="tracefileTarget"
                xsi:type="File"
                fileName="C:\logs\trace.log"
                layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />
        <target name="fileTarget"
                xsi:type="File"
                fileName="C:\logs\training.log"
                layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />
    </targets>
    <rules>
        <logger name="*" levels="Trace" writeTo="fileTarget" />
        <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    </rules>
</nlog>